--swiftversion 6.0
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapcollections before-first
--stripunusedargs closure-only
--disable redundantSelf, wrapMultilineStatementBraces

--exclude Sources/TouchedTips/Feel
